body {
  margin: 0;
  padding: 0;
}

img{
  border: 0px;
}

p {
  text-align: justify;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.jt-content {
  position:absolute;
  width:100%;
}

.jt-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.jt-header {
  overflow: visible;
  background-color: #2196F3;
}

.jt-header .material-icons {
  color: #fff !important;
}

.jt-header .mdl-layout__drawer-button {
  background: transparent;
  color: #2196F3;
}

.jt-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

.jt-navigation {
  direction: ltr;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
}

.jt-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.jt-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
}

.jt-drawer {
  border-right: none;
}

.jt-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.jt-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}

.jt-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

.jt-drawer .mdl-layout-title {
  position: relative;
  background: #2196F3;
  height: 160px;
}

.jt-title {
  color:white;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
  .jt-navigation-container {
    display: none;
  }

  .jt-title {
    display: none !important;
  }

  .jt-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

}